
<div class="row stats" style="padding-top: 50px;">
    <div class="block center">Total Words: {{totalWords}}</div>
    <div class="block center">Correct: {{correctCount}}</div>
    <div class="block center">Wrong: {{wrongCount}}</div>
</div>

<div class="box">
    <div class="row">
        <div class="block center" style="width: 20%;">
            <audio controls>
                <source src="https://ssl.gstatic.com/dictionary/static/sounds/oxford/{{word}}--_us_1.mp3" type="audio/mpeg">
            </audio> 
        </div>
        <div class="block center" style="width: 60%;"><input value='' [style.width.ch]="charWidth" [style.color]="fontColor" (keyup)="onKey(spelling.value)" #spelling ngModel></div>
        <div class="block center left" style="width: 20%;">
            <button type="button" [disabled]="valueEntered" class="btn btn-primary" (click)="checkSpelling(spelling.value)">Spell Check</button>
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">
        <div class="block center"></div>
        <div class="block center"><button type="button" class="btn btn-secondary" (click) = "nextWord()">Next Word</button></div>
        <div class="block center"></div>
    </div>
</div>