.row {
    width: 100%;
    text-align: center; /* center the content of the container*/
  }
  
.block {
    width: 300px;
    display: inline-block; /* display inline with ability to provide width/height */
}

input {
    /*display: block;
    margin: 2em auto;*/
    border: none;
    padding: 0;
    /*width: 10.5ch;*/
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 30ch 2px no-repeat;
    font: 10ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}
input:focus {
    outline: none;
    color: dodgerblue;
}

.center {
    margin: auto;
    /*width: 33%;*/
    padding: 10px;
}

.left{
    float: left;
}
/*
.page{
    margin: 20px;
    background-color: #F1F3F4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(213, 207, 207);
}
*/

.box {
    margin: 20px;
    background-color: #F1F3F4;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.stats {
    font-size: 40px;
    padding-bottom: 20px;
}
